body {
    background-color: black;
    font-family: 'Inconsolata', sans-serif;
    font-size:6pt;
    /* color: #6fc0ba; */
    color: #fff;
}

a {
    color: #00eeee;
}

strong {
    color: #ffcc00;

}

h2, p, li {
    font-size: 8pt;
    line-height: 12pt;
}

ul {
    list-style: none;
    margin: 0px;
    padding-left: 5px;
}

.container-border{

    border: 2px solid #6fc0ba;
    border-radius: 5px;
    box-shadow: 0 0 2px #005b8e, inset 0 0 2px #005b8e;
}
#container-outside{
    position:absolute;
    width: 1140px;
    height: 610px;
    z-index: 10;

}

#container-inside {
    position:absolute;
    left: 40px;
    top:20px;
    width: 1100px;
    height: 600px;
    z-index: 20;
}

#left-column{
    position: absolute;
    left: 52px;
    width: 380px;
}

#right-column{
    position: absolute;
    left: 500px;
    width: 480px;
}

.header{

    border-top: 1px solid #1d2c33;
    border-bottom: 1px solid #1d2c33;
    /* box-shadow: 0 0 6px #005b8e, inset 0 0 6px #005b8e; */
    color: #fff;
    padding: 2px 0;
    visibility: hidden;
    width: 100%;

}

.header-left-section {
    float: left;
    width: 80%;
    background-color: #000;
    margin-left: -5px;
    padding: 0 8px;
}

.header-right-section {
    float: right;
    width: 10%;
    background-color: #000;
    text-align: right;
    margin-right: -5px;
    padding: 0 8px;
}

.alt-1 {
    color: #00eeee;
}
.alt-2 {
    color: #ffcc00;
}

#header-top-left {
    position: absolute;
    top: 25px;
}

#header-top-right {
    position: absolute;
    top: 25px;
}

#header-bottom-left {
    position: absolute;
    top: 550px;
}

#header-bottom-left .header-left-section{
    width: 45%
}
#header-bottom-left .header-right-section{
    width: 45%
}

#bottom-boxes-1 {
    margin-top: 1px;
    float: right;
    border: 1px solid #6fc0ba;
    border-radius: 2px;
    height: 4px;
    width: 35px;
}

#bottom-boxes-2 {
    margin-top: 1px;
    margin-right: 20px;
    float: right;
    border: 1px solid #1b2f2d;
    border-radius: 2px;
    height: 4px;
    width: 25px;
}

#bottom-boxes-3 {
    margin-top: 1px;
    margin-right: 4px;
    float: right;
    border: 1px solid #6fc0ba;
    border-radius: 2px;
    height: 4px;
    width: 30px;
}


#header-bottom-right {
    position: absolute;
    top: 550px;
}

.header-animator-left {
    position: absolute;
    top: 300px;
    width: 100%;
    height: 2px;
    border-top: 1px solid #1d2c33;
    border-bottom: 1px solid #1d2c33;
    visibility: hidden;
}

.header-animator-right {
    position: absolute;
    top: 300px;
    width: 100%;
    height: 2px;
    border-top: 1px solid #1d2c33;
    border-bottom: 1px solid #1d2c33;
    visibility: hidden;
}

.content-container {

    border: 2px solid #6fc0ba;
    border-radius: 2px;
    /* box-shadow: 0 0 6px #005b8e, inset 0 0 6px #005b8e; */
    padding: 3px;
    opacity: 0;
}

.content {

    border: 1px solid #1b2f2d;
    /* box-shadow: 0 0 6px #005b8e, inset 0 0 6px #005b8e; */
}

.content-container h2 {
    color: #fff;
    margin: 0;
    border-bottom: 1px solid #1b2f2d;
    padding: 2px 4px;
    font-weight: bold;
}

.content-container h2 em{
    font-style: normal;
    float: right;
    font-size: .8em;
    padding-top: 1px;
    color: #00eeee;

}

.content-container p {
    margin: 2px 0 0;
    padding: 4px 6px;

}

#readme {
    position: absolute;
    top: 60px;
    overflow: hidden;
}

#readme .content {
    height: 300px;
    overflow: hidden;
}

#bandwidth {
    position: absolute;
    top: 390px;
}

#globalization {
    position: absolute;
    top: 60px;
    width: 470px;
}

#globalization .content {
    height: 260px;
    overflow: hidden;
}

#command-line {
    width: 300px;
    float: left;
    height: 100px;
    margin-top: 10px;
    padding: 5px;
}

#command-lines {
    white-space: nowrap;

}

#command-line-header {
    border-bottom: 1px dashed #fff;
    padding-bottom: 3px;

}

.command {
    padding-top: 5px;
    font-size: 8pt;
}

.folder-container {
    margin: 30px 18px 0px;
    float: left;
    cursor: pointer;
}


.folder-label{
    background-color: #000;
    color: #fff;
    font-size: 10px;
    margin-bottom: 5px;
    padding: 1px;
    width: 70px;
    text-transform: uppercase;
    border-radius: 2px;
}

.folder-container:hover .folder-label{
    background-color: #feb400;
    color: #000;
}

.selected-folder {
    background-color: #feb400;
    color: #000;
}

.folder-big {
    background-image: url(encom_folder_big.png);
    padding: 0px;
    margin: 0px;
    width:95px;
    height: 63px;
}

.folder-small {
    background-image: url(encom_folder_small.png);
    padding: 0px;
    margin: 0px;
    width:80px;
    height: 49px;
}

#keyboard {
    margin-left: 8px;
    position: absolute;
    top: 355px;
    width: 470px;
    opacity: 0;
}

#keyboard div{
    background-color: rgba(255,255,255,0);
    border-radius: 5px;
    float: left;
    width: 35px;
    text-align:center;
    padding-top: 10px;
    margin-top: 5px;
    height: 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: #00eeee;
    cursor: pointer;
}

#keyboard #k-tab{
    clear: both;
    margin-left:20px;
}

#keyboard #k-tab{
    clear: both;
    margin-left:10px;
}

#keyboard #k-caps{
    clear: both;
    margin-left:20px;
}

#keyboard #k-shift{
    clear: both;
    margin-left:5px;
}

#keyboard #k-space {
    clear: both;
    width: 300px;
    height: 5px;
    border: 1px solid #00eeee;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 80px;


}

#far-right-column {
    position: absolute;
    left: 1000px;
    height: 600px;
    width: 80px;

}

#encom-logo {
    position: absolute;
    font-size: 10px;
    padding-left: 4px;
    top: 25px;
    left: 20px;
    color: #6fc0ba;
    border-left: 1px solid #6fc0ba;
    border-top: 1px solid #6fc0ba;
    border-bottom: 1px solid #6fc0ba;
    border-radius: 4px;
}

#thumbprint {
    position: absolute;
    left: 15px;
    top: 500px;
    z-index: 200;
}

